# Ignorar tudo
*

# Permitir que os diretórios não sejam ignorados (o comando para ignorar tudo impede que um arquivo dentro
# de um subdiretório seja não-ignorado)
!*/

# Não ignorar apenas os arquivos de implementação do APS e o gitignore
!.gitignore
!implementacoes/aps.ipynb
!implementacoes/elm.ipynb
!implementacoes/elm.py
!arquivos/corn.mat
!requirements.txt
implementacoes/aBugsLife
!implementacoes/aps_utils.py
!imagens/*
implementacoes/Antigas